1{
        color: green;
        background: green;
        border: width border-style color;
}
    test{
        color: green;
        background: green;
        border: width border-style color;
}
    