test, 1{
    color: green;
}

test, 1{
    background: green;
}

           test , 1        {
               border: width           border-style                  color                     ;
           }
/*









test1{
    color: green;
}

test1{
    background: green;
}

           test1         {
               border: width border-style color;
           }






*/